@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
  }
  
  main {
    padding-top: 50px;
  }

  header {
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
  }
  
  h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
    text-align: center;
    margin: 10px auto;
  }
  
  nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
  nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
  }
  
  section {
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
    padding: 6px;
  }

  .first-section{
    background-color: rgb(80, 80, 80);
  }

  .second-section{
    background-color: rgb(150, 150, 150);
  }

  .third-section{
    background-color: rgb(120, 120, 120);
  }
  
  h1, h2 {
    font-family: Verdana, Tahoma;
  }
  
  h2 {
  /*  border-bottom: 4px solid #dfdfe2; */
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 10px;
  }
  
  .info {
    padding: 10px 0 10px 5px;
  }
  
  .formrow {
    margin-top: 30px;
    padding: 0px 15px;
  }
  
  input {
    font-size: 16px;
  }
  
  .info label, .info input {
    display: inline-block;
  }
  
  .info input {
    width: 50%;
    text-align: left;
  }
  
  .info label {
    width: 10%;
    min-width: 55px;
    text-align: right;
  }
  
  .question-block {
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
  }
  
  p {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 20px;
  }
  
  p::before {
    content: "Question #";
  }
  
  .question {
    border: none;
    padding-bottom: 0;
  }
  
  .answers-list {
    list-style: none;
    padding: 0;
  }
  
  button {
    display: block;
    margin: 10px auto;
    width: 40%;
    max-width: 600px;
    padding: 15px;
    font-size: 23px;
    background: #d0d0d5;
    border: 3px solid #3b3b4f;
  }